<% if result.present? %>
  <div class="ai-result mt-6 border-t border-gray-200 pt-4">
    <h3 class="mb-6 text-xl font-bold text-gray-800">生成結果</h3>
    <div class="mb-6 rounded-lg border border-gray-200 bg-gray-50 p-4">
      <pre class="whitespace-pre-wrap wrap-break-word text-sm text-gray-800"><%= result %></pre>
    </div>
    <%= form_with url: memo_generated_texts_path(@memo), method: :post, local: true do %>
      <%= hidden_field_tag :kind, "organize" %>
      <%= hidden_field_tag :content, @result %>
      <%= submit_tag "生成結果を保存する", class:"rounded-lg bg-green-600 px-4 py-2 font-semibold text-white hover:bg-green-700" %>
    <% end %>
    
  </div>
<% end %>