<div class="mx-auto max-w-3xl px-4 py-8">
  <div class="rounded-2xl border border-gray-200 bg-white p-6 shadow-sm">
    <div class="mb-6 flex justify-between">
      <h2 class="text-2xl font-bold text-gray-800">メモ詳細</h2>
      <div class="flex  gap-3">
        <%= link_to "AI処理", ai_tools_memo_path(@memo), class: "rounded-lg bg-blue-600 px-4 py-2 font-semibold text-white hover:bg-blue-700" %>
        <%= link_to "生成結果保存履歴", memo_generated_texts_path(@memo), class: "rounded-lg bg-blue-600 px-4 py-2 font-semibold text-white hover:bg-blue-700" %>
        <%= link_to "このメモを削除", memo_path(@memo),
        data: {
          turbo_method: :delete,
          turbo_confirm: @memo.children.any? ? "子メモもまとめて削除されます。本当に削除しますか？" : "本当に削除しますか？"
        },
        class: "rounded-lg bg-red-600 px-4 py-2 font-semibold text-white hover:bg-red-700" %>
      </div>
    </div>


    <div class="mb-6">
      <p class="mb-2 text-sm font-semibold text-gray-500">タイトル：内容</p>
      <%= render "memo_tree", memo: @tree_root, current_memo: nil %>
    </div>


    <div class="mb-6 space-y-2 text-sm text-gray-600">
      <p>作成日時: <%= l @memo.created_at, format: :short %></p>
      <p>更新日時: <%= l @memo.updated_at, format: :short %></p>
    </div>

    <div class="flex border-t border-gray-200 pt-4">
      <%= link_to "一覧へ戻る", memos_path, class: "rounded-lg bg-blue-600 px-4 py-2 font-semibold text-white hover:bg-blue-700" %>
    </div>
  </div>
</div>